.booking {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 20px;
    background-color: white;
    height: max-content;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    color: darkblue;
}

.booking__ad {
    width: 100%;
    margin-bottom: 10px;
}

.booking__title {
    padding-right: 9px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.booking__left {
    margin-right: 20px;
}

.booking__left > img {
    max-height: fit-content;
}

.booking__right {
    height: fit-content;
    min-width: 400px;
}

.no__basket__items {
    color: #c4c4c4;
    text-align: center;
    margin-top: 30px;
}