.footbar {
    color: rgb(255, 255, 255);
    background-color: #131a22;
}

.footbar__text {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    padding: 15px;
}